.app, .App {
  min-height: 100vh;
  overflow-x: hidden;
}

.page {
  padding: 2rem;
  min-height: calc(100vh - 5.4em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page h1 {
  font-size: 3rem;
  color: white;
}

body, html {
  overflow-x: hidden;
}

